<h4>Edit Project</h4>

<label>New Name:</label>
<input [(ngModel)]="projectToDisplay.name">
<br>

<label>New Manager:</label>
<input [(ngModel)]="projectToDisplay.manager">
<br>
<p>{{projectToDisplay.name}}</p>

<label>New Description:</label>
<input [(ngModel)]="projectToDisplay.description">
<br>

<label>New Funding Goal:</label>
<input [(ngModel)]="projectToDisplay.fundingGoal">
<br>

<label>New Fund Directive:</label>
<input [(ngModel)]="projectToDisplay.fundDirective">
<br>

<label>New Donor Rewards:</label>
<input [(ngModel)]="projectToDisplay.donorRewards">
<br>

<button (click)="beginUpdatingProject(projectToDisplay)" routerLink='../../{{projectId}}'>Update</button>
<br>
