<h3>Details for {{(projectToDisplay | async)?.name}}</h3>

<ul>
  <li>Manager: {{(projectToDisplay | async)?.manager}}</li>
  <li>Project description: {{(projectToDisplay | async)?.description}}</li>
  <li>Funding Goal: ${{(projectToDisplay | async)?.fundingGoal}}</li>
  <li>These funds will go towards: {{(projectToDisplay | async)?.fundDirective}}</li>
  <li>All donors will receive: {{(projectToDisplay | async)?.donorRewards}}</li>
  <li>Funds received: ${{(projectToDisplay | async)?.fundsRaised}}</li>
</ul>


<label>Make Donation:</label>
<input #donationAmount>
<button (click)="makeDonation(donationAmount.value); donationAmount.value=''">Donate!</button>

<br>
<br>

<a routerLink="edit-project">Edit Project</a>
<button (click)="beginDeletingProject(projectToDisplay)" routerLink="">Delete</button>
